@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}
.app{
    height: 100vh;
    color: #000;
}
.content{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 0;
}